#This is an example of a .env file that should exist on the production server in this git repo
#Note that the values CANNOT contain quotes. Docker-compose seems to interpret quotes literally.

HUBOT_SLACK_TOKEN=xoxb-1234567890-abcdefghijklmnopqrstuv    
TWITTER_CONSUMER_KEY=1234567890abcdefghijk
TWITTER_CONSUMER_SECRET=abcdefghijklmnopqrstuvwxyz
TWITTER_ACCESS_TOKEN_KEY=1234567890-abcdefghijklmnopqrstuvwxyz
TWITTER_ACCESS_TOKEN_SECRET=abcdefghijklmnopqrstuvwxyz